/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Source Sans Pro';
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  color: #153376;
  display: block;
  margin-top: 10px;
}

input, button, .Field {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4D4F5C;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #c0c0c0;
}

div {
  color: red;
}
